@font-face {
  font-family: 'Gotham Pro';
  src: url('../assets/fonts/gothampro.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../assets/fonts/gothampro_bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../assets/fonts/gothampro_bold.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../assets/fonts/gothampro_medium.ttf');
  font-weight: 600;
}
